.logo {
  width: 600px;
  height: 200px;
  background-image: url("../../assets/vase.png");
  background-size: cover;
  background-position: left -30px top -100px;  
  background-repeat: no-repeat;

  &__wrapper {
    margin: 0rem;
    max-width: 400px;
  }
}
