.contact {
  font-size: 13px;

  @media screen and (max-width: 800px) {
    padding-bottom: 1rem;
  }

  &__header {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
  }

  &__image {
    border-radius: 25px;
    max-width: 375px;

    @media screen and (max-width: 600px) {
      max-width: 300px;
    }
  }

  &__link {
    font-weight: bold;
  }

  &__link-text {
    padding-right: 10px;
    padding-top: -10px;
  }

  &__pg {
    @media screen and (max-width: 800px) {
      order: 1;
      margin: -2rem 0rem 2rem;
    }
  }

  &__section {
    width: calc(600px - 2rem);
    @media screen and (max-width: 800px) {
      order: 2;
    }
  }

  &__title {
    font-weight: normal;
    font-size: 14px;
    color: #8a8a8a;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem 0rem 3rem;
    padding-bottom: 3rem;

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
  }
}
